<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645280289700-g2d4e3l69c4fcpmoi56ev4b5uh4ij4sg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645280289700-g2d4e3l69c4fcpmoi56ev4b5uh4ij4sg</string>
	<key>API_KEY</key>
	<string>AIzaSyC8bmQ-f8STPtHJakD3evWHVx4P-k2Zq4c</string>
	<key>GCM_SENDER_ID</key>
	<string>645280289700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tiagobratzheck.easyflux</string>
	<key>PROJECT_ID</key>
	<string>pl-easyflux-35b6b</string>
	<key>STORAGE_BUCKET</key>
	<string>pl-easyflux-35b6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645280289700:ios:ad09245ff21ba29f1aa731</string>
</dict>
</plist>